# SuperFlowSQL - Superset Configuration
SQLALCHEMY_DATABASE_URI = "postgresql://{{ postgres_user }}:{{ postgres_password }}@{{ postgres_host }}:{{ postgres_port }}/{{ postgres_db }}"
SECRET_KEY = "{{ superset_secret_key }}"
